/* Définition des régles de la page*/
*{
	font-family: 'Raleway' , Arial;
}

body{
	display: flex;
	flex-direction: column;
	
}

#block_page
{	
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*Header de la page*/

header img
{
	max-height: 45px;
	max-width: 100px;
	margin-top: 50px;
	margin-left: 20px;
}

#tete
{
	display: flex;	
	justify-content: space-between;

}

header h1{
	margin-top: 40px;
}

nav{
	display: flex;
	align-items: flex-end;
	height: 100px;
}

nav ul{
	padding-left: 0;
	display: flex;
	border-top: 5px #0065FC none;
}

nav ul li
{
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.nav_page a{
	display: flex;
	justify-content: center;
	width: 210px;
	margin: 0;
	padding-top: 65px;
	text-decoration: none;
	color: black;	
}

.nav_page a:hover{
	border-top: 5px #0065FC solid;	
	padding-top: 60px;	
	color: #0065FC;
}

header h1
{
	font-weight: bold;
	font-size: 20px;
}

#recherche{
	display: flex;
}

#pointeur{
	border: 5px #F2F2F2 transparent;
	padding: 15px;
	background: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
	font-size: 17px;
}

#recherche form{
	display: flex;
	border: 1px #F2F2F2 solid;
}

form input{
	border: none;
	padding-left: 10px;
	font-weight: bold;
	font-size: 13px;
}

.loupe_deck{
	border: none;
	background: #0065FC;
	color: white;
	font-weight: bold;
	font-size: 17px;
	padding-left:17px;
	padding-right: 17px;
	border-radius: 0px 15px 15px 0px;
}

.loupe_smart{
	display: none;
	border: none;
	background: #0065FC;
	padding: 15px 13px 15px;
	border-radius: 15px 15px 15px 15px;
	font-size:17px;
}

.loupe_smart i{
	color: white;
}


#filtres
{
	display: flex;  
	margin: 30px 0px 0px ;
}

.filtre_p{
	font-size: 17px;
	font-weight: bold;
	margin-right: 20px;
}

.filtre_2{
	display: flex;
}

.bouton{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 15px;
	width: auto;
	height: 40px;
	border: 3px grey solid;
	border-radius: 30px;
	border-color: #F2F2F2;
	background: #FFF;
	padding-right: 10px;
}

.bouton p{
	justify-content: center;
	margin-left: 10px;
	font-size: 17px;
	font-weight: bold;
}

.bouton i{
	color: #0065FC;
	padding: 17px;
	background: #DEEBFF;
	border-radius: 50%;
	font-size: 17px;
	font-weight: bold;
}

.bouton:hover{
	background: linear-gradient(0deg, rgba(0,101,252,1) 0%, rgba(222,235,255,1) 100%) ;
}

/*Corps de la page*/

#Stop{
	display: flex;
	flex-direction: column;
}

#info{
	display: flex;
}

#info i{
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	padding: 2px 7px 2px 7px;
	width: 5px;
	color: #0065FC;
	font-weight: bold;
	font-size: 15px;
	margin-right: 10px;
}

#section_body{
	display: flex;
}

article, aside{
	border-radius: 20px;
	background: #F2F2F2;	
}

/*Régles opour toutes les étoiles*/

.star{
	display: flex;
	margin-bottom: 5px;
}

.starB{
	font-size: 10px;
	color: #0065FC;
}

.starG{
	font-size: 10px;
	color: #F2F2F2;
}

.star1{
	display: flex;
	margin-bottom: 5px;
}

/*Bloque Hébergements*/

article{
	width: 70%;
	margin-right: 30px;
}

#groupe_1{
	display: flex;
	margin-left: 20px;
}

#groupe_2{
	display: flex;
	margin-left: 20px;
}

article h2, article h4{
	font-weight: bold;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 40px
}

article h3{
	font-weight: bold;
	font-size: 15px;
	margin: 0;
	margin-top: 5px;
}

article p{
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.hebergement{
	box-shadow: 4px 4px 4px lightgrey;
	border-radius: 15px;
	background: white;
	margin: 20px;
	padding: 5px;
}


.hebergement a{
	text-decoration: none;
	color: black;
	margin: 0;
}


.hebergement img{
	width: 200px;
	height: 100px;
	object-fit: cover;
	object-position: 80% 80%;
	border-radius: 15px 15px 0px 0px;
} 

.hebergement h2{
	font-weight: bold;
	font-size: 15px;
}

.hebergement p{
	font-size: 13px;
}

/*Bloque polulaire*/

aside{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#tete_aside{
	display: flex;
	justify-content: space-between;
}

#tete_aside h4{
	font-weight: bold;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 40px;
}

#tete_aside i{
	margin-top: 40px;
	font-size: 20px;
	margin-right: 20px;
}

#block_pop{
	display: flex;
	flex-direction: column;	
}

.populaires img{
	width: 110px;
	height: 130px;
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;
	padding-right: 10px;
}

.populaires{
	box-shadow: 4px 4px 4px lightgrey;
	border-radius: 15px;
	background: white;
	margin: 20px;
	padding: 5px;
	display: flex;
	height: 26%;
}


.populaires a{
	text-decoration: none;
	color: black;
}

.populaires h2{
	font-weight: bold;
	font-size: 14px;
}

.populaires p{
	font-size: 12px;
	margin-bottom: 30px;
}

.populaires .star{
	margin-top: 40px;
}

.populaires .star1{
	margin-top: 58px;
}

/*Bloque activité*/

#activite{
	display: flex;
}

#activites{
	margin-top: 40px;
}

#activite h2 {
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}

#Ablock_1, #Ablock_2{
	display: flex;
	flex-direction: column;
}

#activites h3{
	font-weight: bold;
	font-size: 15px;
	margin: 0;
	margin: 15px 15px 15px;

}

#activites a{
	text-decoration: none;
	color: black;
}

.activites_G, #Pomegues, #Frioul, .activites_M{
	box-shadow: 2px 2px 2px lightgrey;
	border-radius: 15px 15px 15px 15px;
	margin: 20px;
}

.activites_G img{
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	width: 260px;
	height: 340px;
}

#Pomegues img{
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	width: 260px;
	height: 160px;
}

#Frioul img{
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	width: 260px;
	height: 100px;
}

.activites_M img{
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	width: 260px;
	height: 130px;
}

/*Footer*/

footer{
	display: flex;
	justify-content: center;
	width: 100%;
	background: #F2F2F2;		
}

#texte_footer{
	display: flex;
	justify-content: flex-start;
	width: 1200px;
}

#texte_footer ul{
	margin-right: 170px;
}

footer a{
	text-decoration: none;
	color: black;
}

footer h2{
	font-weight: bold;
	font-size: 17px;
	margin-left: 40px;
}

footer li{
	list-style-type: none;
	margin-bottom: 10px;
}


@media screen and (max-width: 992px)
{
	#block_page{
		margin: 0px;
		width: 100%;
	}

	#filtres button{
		margin-bottom: 20px;
	}

	#Stop{
		flex-direction: column;
	}

	#section_body{
		flex-direction: column;
	}

	article, aside{
		margin: 0%;
		margin-bottom: 20px;
	}

	#groupe_1,#groupe_2{
		justify-content: center;
	}

	article{		
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}

	aside{
		width: 100%;
	}

	#block_pop{		
		justify-content: space-between;
		flex-direction: row;
		width: 100%;
	}

	.populaires{
		flex-direction: column;
		margin: 10px;
		width: 250px;
		height: 236px;
	}

	.populaires img{
		border-radius: 15px 15px 0px 0px;
		object-fit: cover;
		width: auto;
		padding-right: 0px;
	}

	.populaires p{
		margin-bottom: 10px;
	}

	.populaires .star{
		margin-top: 10px;
	}

	.populaires .star1{
		margin-top: 25px;
	}

	#activite{
		flex-wrap: wrap;
		justify-content: center;
	}

	footer{
		justify-content: center;
	}

	#texte_footer ul{
		margin-right: 40px;
	}

}

@media screen and (max-width: 768px)
{
	body{
		justify-content: center;
		overflow-x: hidden;
	}

	#block_page{
		justify-content: space-between;
		margin-right: 0px;
		margin-left: 0px;
		width: auto;
	}

	#tete{
		flex-direction: column;
		align-items: center;
	}

	header img{
		text-align: center;
		margin-top: 25px;
		max-height: 65px;
		max-width: 120px;
	}

	nav{
		margin: 0px;
		width: 100%;
	}

	nav ul{
		display: flex;
		width: 100%;
		justify-content: space-around;
		margin-top: 0px;
		width: 100%;
	}

	.nav_page{
		width: 100%;
	}

	.nav_page a{
		width: 100%;
		padding-top: 0;
		padding-bottom: 15px;
		border-bottom: 3px #F2F2F2 solid;
	}
	
	.nav_page a:hover{
		color: #0065FC;
		border-top: none;
		border-bottom: 3px #0065FC solid;	
		padding-top: 0;
	}

	header h1{
		font-size: 20px;
		margin: 0px 20px 0px;
	}

	header p{
		font-size: 15px;
		margin: 10px 20px 30px;
	}

	.loupe_deck{
		display: none;
	}

	.loupe_smart{
		display: flex;
		align-items: center;
	}

	#recherche{
		justify-content: center;
	}

	#pointeur{
		padding: 15px;
		background: #F2F2F2;
		border-radius: 15px 0px 0px 15px;
		font-size: 20px;
	}

	#recherche form{
		display: flex;
		border: 1px #F2F2F2 solid;
		width: 200px;
	}

	form input{
		border: none;
		padding-left: 20px;
		font-weight: bold;
		font-size: 15px;
	}

	#filtres{
		flex-direction: column;
		margin: 10px;
	}

	.bouton{
		margin: 3px;
		max-width: fit-content;
		padding-right: 0;
	}

	.bouton p{
		margin-top:30px;
	}

	.filtre_2{
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	.filtre_2 .bouton {
		margin-bottom: 5px;
	}

	#info{
		margin: 0px 20px 0px;
	}

	#Stop{
		flex-direction: column;
		margin: 0px;
		padding: 0px;		
	}

	#section_body{
		flex-direction: column-reverse;
	}

	aside, article{
		margin: 0px;

	}

	#tete_aside i{
		margin-top: 40px;
	}

	#block_pop{
		flex-direction: column;
	}

	.populaires{
		box-shadow: 4px 4px 4px lightgray;
		width: 85%;
		height: auto;
		margin: auto;
		padding: 5px;
		margin-bottom: 10px;
	}

	.populaires img{
		width: 100%;
		border-radius: 15px 15px 0px 0px;
		padding-right: 0px;
	}

	.populaires p{
		margin-bottom: 0;
	}

	.populaires .star1{
		margin-bottom: 5px;
	}

	article{
		flex-direction: column;
		background: none;
		margin: auto;
	}

	#groupe_1, #groupe_2{
		flex-direction: column;
		margin: 0px;
	}

	.hebergement{
		margin: auto;
		margin-bottom: 10px;
		width: 85%;
	}

	.hebergement img{
		width: 100%;
	}

	#activites h2{
		margin-left: 20px;
		font-size: 20px;
	}

	#activite{
		flex-direction: column;
	}

	.activites_G, #Pomegues, #Frioul, .activites_M{
		margin: auto;
		width: 85%;
		margin-bottom: 10px;
	}

	.activites_G img, #Pomegues img, #Frioul img, .activites_M img{
		width: 100%;
		height: 100px;
	}

	#texte_footer{
		flex-direction: column;
	}

}
	